
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{obj.title}}</title>
    <link rel="stylesheet" href="/static/css/article.css">
    <script src="/static/js/jquery_2.1.4_min.js"></script>
    <script src="/static/js/findAndReplaceDOMText.js"></script>
</head>
<body class="bodyscale">
    <div class="text_main">
        <div class="scrollbar">
            <div id="scroll">
            </div>
        </div>
        {% autoescape off %}
        {% for line in obj.text_in_line %}

            {% if line.form == "title" %}
            <div class="title">
                <h1>{{ line.content }}</h1>
            </div>
            {% elif line.form == "image" %}
                <img src="/static/images/article/{{ line.content }}" alt="" srcset="">
            {% elif line.form == "p" %}
                <p>{{ line.content }}</p>
            {% elif line.form == "br" %}
                <br>
            {% endif %}

        {% endfor %}
        {% endautoescape %}
        <p class="btm_right">罗德岛蜜饼工坊<br>{{ obj.time }}</p>
    <script src="/static/js/article.js"></script>
</body>
</html>